body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  header {
    text-align: center;
    padding: 50px 0;
    background-image: url('https://img.freepik.com/foto-gratis/concepto-viaje-plano-completo-puntos-referencia_23-2149153258.jpg');
    background-size:cover;
    background-position: center;
    color: #fff;
    height: 40vh;
    overflow: hidden;
  }
  header h1 {
    font-size: 4em;
    margin: 0;
    margin-top: 100px;
    text-shadow: 2px 2px 2px #00000072;
  }

  header h1 span {
    color: #007bff;
  }

  header p {
    font-size: 2em;
    color: #ffffff;
    font-weight: bold;
    padding: 20px;
    text-shadow: 2px 2px 2px #000000c6;
  }
  section {
    padding: 50px 20px;
    text-align: center;
  }
  button {
    padding: 10px 20px;
    font-size: 1em;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
  }

  section#form {
    background-color: #6abae2b4;
  }

  form {
    margin: 0 auto;
    max-width: 350px;
    text-align: left;
    margin-bottom: 100px;
  }
  form label {
    display: block;
    margin-bottom: 5px;
  }
  form input,
  form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  form button {
    width: 50%;
    margin-left: 25%;
  }
  footer {
    text-align: center;
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
  }
  